<%- include('../layouts/header') %>
    <%- include('../layouts/homeHeader.ejs') %>

            <br><br><br><br>

            <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap"
                rel="stylesheet">

            <div class="card">
                <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
                    <i class="checkmark">✓</i>
                </div>
                <h1>Success</h1>
                <p>We received <strong style="color: rgb(62, 101, 4);">
                        <%= user.name %>'s
                    </strong> purchase request;<br /> we'll be in touch shortly!</p>
            </div>
            <br><br><br>
            <div>
                <h4>Continue <a href="/home/shop/<%= user._id %>"><button
                            class="btn btn-outline-primary">Shoping</button></a></h4>
            </div>

            <br><br><br><br><br>
            <footer class="bg3 p-t-75 p-b-32">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3 p-b-50">
                            <h4 class="stext-301 cl0 p-b-30">
                                Categories
                            </h4>

                            <ul>
                                <li class="p-b-10">
                                    <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                        Smart Phones
                                    </a>
                                </li>

                                <li class="p-b-10">
                                    <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                        Laptops
                                    </a>
                                </li>

                                <li class="p-b-10">
                                    <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                        Smart Watches
                                    </a>
                                </li>

                                <li class="p-b-10">
                                    <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                        Audio Products
                                    </a>
                                </li>

                                <li class="p-b-10">
                                    <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                        Gaming Consoles
                                    </a>
                                </li>

                                <li class="p-b-10">
                                    <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                        Cameras
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-sm-6 col-lg-3 p-b-50">
                            <h4 class="stext-301 cl0 p-b-30">
                                Help
                            </h4>

                            <ul>
                                <li class="p-b-10">
                                    <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                        Track Order
                                    </a>
                                </li>

                                <li class="p-b-10">
                                    <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                        Returns
                                    </a>
                                </li>

                                <li class="p-b-10">
                                    <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                        Shipping
                                    </a>
                                </li>

                                <li class="p-b-10">
                                    <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                        FAQs
                                    </a>
                                </li>

                            </ul>
                        </div>

                        <div class="col-sm-6 col-lg-3 p-b-50">
                            <h4 class="stext-301 cl0 p-b-30">
                                GET IN TOUCH
                            </h4>

                            <p class="stext-107 cl7 size-201">
                                Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or
                                call
                                us on (+1) 96 716 6879
                            </p>

                            <div class="p-t-27">
                                <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                                    <i class="fa fa-facebook"></i>
                                </a>

                                <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                                    <i class="fa fa-instagram"></i>
                                </a>

                                <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                                    <i class="fa fa-pinterest-p"></i>
                                </a>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-3 p-b-50">
                            <h4 class="stext-301 cl0 p-b-30">
                                Newsletter
                            </h4>

                            <form>
                                <div class="wrap-input1 w-full p-b-4">
                                    <input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email"
                                        placeholder="email@example.com">
                                    <div class="focus-input1 trans-04"></div>
                                </div>

                                <div class="p-t-18">
                                    <button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
                                        Subscribe
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="p-t-40">
                        <div class="flex-c-m flex-w p-b-18">
                            <a href="#" class="m-all-1">
                                <img src="/images/icons/icon-pay-01.png" alt="ICON-PAY">
                            </a>

                            <a href="#" class="m-all-1">
                                <img src="/images/icons/icon-pay-02.png" alt="ICON-PAY">
                            </a>

                            <a href="#" class="m-all-1">
                                <img src="/images/icons/icon-pay-03.png" alt="ICON-PAY">
                            </a>

                            <a href="#" class="m-all-1">
                                <img src="/images/icons/icon-pay-04.png" alt="ICON-PAY">
                            </a>

                            <a href="#" class="m-all-1">
                                <img src="/images/icons/icon-pay-05.png" alt="ICON-PAY">
                            </a>
                        </div>

                        <p class="stext-107 cl6 txt-center">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | Made with
                            <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="" target="_blank">Sreehari</a>
                            &amp; distributed by <a href="" target="_blank">ThemeWagon</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

                        </p>
                    </div>
                </div>
            </footer>

            <%- include('../layouts/homeFooter.ejs') %>
                <%- include('../layouts/footer') %>

                    <style>
                        body {
                            text-align: center;
                            padding: 0;
                            background: #EBF0F5;
                        }

                        h1 {
                            color: #88B04B;
                            font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
                            font-weight: 900;
                            font-size: 40px;
                            margin-bottom: 10px;
                        }

                        p {
                            color: #404F5E;
                            font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
                            font-size: 20px;
                            margin: 0;
                        }

                        i {
                            color: #9ABC66;
                            font-size: 100px;
                            line-height: 200px;
                            margin-left: -15px;
                        }

                        .card {
                            background: white;
                            padding: 60px;
                            border-radius: 4px;
                            box-shadow: 0 2px 3px #C8D0D8;
                            display: inline-block;
                            margin: 0 auto;
                        }
                    </style>