<%- include('../layouts/header') %>
    <%- include('../layouts/homeHeader') %>

        <div class="top-bar">
            <div class="content-topbar flex-sb-m h-full container">
                <div class="left-top-bar">
                    <strong>Gadgets Heaven</strong> - The One Place For All Gadgets
                </div>

                <div class="right-top-bar flex-w h-full">
                    <a href="#" class="flex-c-m trans-04 p-lr-25">
                        Help & FAQs
                    </a>
                </div>
            </div>
        </div>
        <div class="container mt-5 pt-5">
            <div class="row">
                <div class="col-12 col-sm-8 col-md-6 m-auto">
                    <div class="card border-0 shadow">
                        <div class="card-body">
                            <svg class="d-block mx-auto my-3" xmlns="http://www.w3.org/2000/svg" width="50" height="50"
                                fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                <path fill-rule="evenodd"
                                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                            </svg>
                            <h4 style="color:rgb(0, 0, 0);" class="text-center"><strong>Gadgets Heaven</strong>
                                Registration
                            </h4>
                            <form action="/register" method="post">
                                <input type="text" class="form-control my-3 py-2" name="name" placeholder="Username"
                                    required>
                                <input type="email" class="form-control my-3 py-2" name="email" placeholder="Email"
                                    required>
                                <input type="tel" class="form-control my-3 py-2" name="phoneNumber" pattern="[0-9]{10}"
                                    title="Please enter a 10-digit phone number" placeholder="Phone Number" required>
                                <input type="password" class="form-control my-3 py-2" name="password"
                                    placeholder="Password" minlength="8" required>
                                <input type="password" class="form-control my-3 py-2" name="confirmPassword"
                                    placeholder="Confirm Password" minlength="8" required>
                                <div class="text-center mt-3">
                                    <button type="submit" class="btn btn-primary">Send OTP</button>
                                    <a href="/login" class="nav-link text-primary">Already have an account ?</a>
                                    <% if(typeof message !=="undefined" ){ %>
                                        <br>
                                        <p style="color: red;">
                                            <%= message %>
                                        </p>
                                        <% } %>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('../layouts/homeFooter') %>
            <%- include('../layouts/footer') %>